{{define "style"}}
<link rel="stylesheet" href="{{.}}">
{{end}}

{{define "header"}}
<!DOCTYPE html>
<head>
	<meta content="" name="description"></meta>
	<meta content="" name="author"></meta>
	<title></title>
	<!-- css -->
	{{range $path := .StylePaths}}
		{{template "style" $path}}
	{{end}}
</head>
{{end}}
