{{define "script"}}
<script src = "{{.}}"></script>
{{end}}
{{template "header" .}}
<body>
	{{template "carousel" .C}}
	{{range $entry := .Entries}}
	    {{template "featurette" $entry}}
	{{end}}
</body>
{{template "footer" .}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{{range $path := .ScriptPaths}}
	{{template "script" $path}}
{{end}}
